.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Màu nền mờ */
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-user-modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 9999;
  /* Thêm các thuộc tính để căn giữa */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: #eaeaea;
  border: 1px solid #ccc;
  font-size: 18px;
  cursor: pointer;
  color: #555;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-button::before {
  content: "\2715"; /* Unicode character for '✕' symbol */
}

.close-button:hover {
  color: #ff0000;
  background-color: #ffdddd;
  border-color: #ff0000;
}
